*
{
    margin: 0;

    /* font-size: ; */

    font-family: Arial, Helvetica, sans-serif;
}

body
{
    background: radial-gradient(#28292e, #212226);
}

h1
{
    text-align: center;

    background-color: aliceblue;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#FormIMC > form
{
    margin-top: 3rem;

    text-align: center;
}

h3
{
    font-size: clamp(20px, 1.7vw + 5px, 28px);

    color: aliceblue;
}

#FormIMC > form > input
{
    margin-top: 1rem;
    margin-bottom: 1.5rem;

    width: clamp(200px, 29vw + 5px, 400px);
    height: calc(clamp(200px, 29vw + 5px, 400px)*0.09);

    border-radius: clamp(10px, 1vw + 5px, 13.7px);
    border-style: none;

    text-align: center;

    font-size: clamp(10px, 0.9vw + 5px, 18px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#Calcular
{
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;

    width: clamp(250px, 32vw + 5px, 500px);
    height: calc(clamp(250px, 32vw + 5px, 500px)*0.09);

    border-radius: clamp(5px, 0.5vw + 5px, 7px);
    border-style: none;

    background-color: rgb(88, 192, 88);

    font-size: clamp(12px, 1vw + 5px, 20px);
}

#FormIMC > form > button:hover
{
    cursor: pointer;
}

#Resultado
{
    margin-top: 11rem;
    margin-bottom: 6rem;

    text-align: center;

    color: aliceblue;
}

h2
{
    text-align: center;
    color: aliceblue;
    font-size: clamp(25px, 2vw + 5px, 35px);
}

#Link
{
    color: aliceblue;
    text-align: center;
    display: block;
}

p
{
    color: aliceblue;
    text-align: center;
    font-size: clamp(10px, 0.9vw + 5px, 18px);
}